fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
pymupdf
sentence-transformers
chromadb
numpy
pandas
pytest
httpx
ragas==0.4.3
datasets
langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.31
langchain-openai==0.3.35
